.brand-grid
	display: flex
	justify-content: space-around
	align-content: space-around
	max-width: 1300px
	margin: 0 auto
	// flex-direction: column
	align-items: center
	flex-wrap: wrap
	&__item
		flex-basis: 28%
		max-width: 28%
		img
			width: 70%
			filter: grayscale(100%)
			-webkit-filter: grayscale(100%)
			+transition(.5s)
			&:hover
				filter: grayscale(0)
				-webkit-filter: grayscale(0)