.left-pane
	width: 280px
	height: 100%
	background: #d9d9d4
	top: 0
	position: fixed
	transition: transform 0.2s linear
	&_flex
		flex-shrink: 0
	+tablet-landskape
		overflow: hidden
		width: 100%
		z-index: 99
		height: 50px
		+transition(.5s)
		&_unfolded
			height: 100%
		&.show_header
			transform: translateY(0)
		&.hide_header
			transform: translateY(-100%)
