.product-wrapper
	position: relative
	.follow
		width: 65%
		position: relative
		+phones
			width: 100%
			text-align: center
			padding-bottom: 20px
	.social
		display: block
		ul
			left: 0
			width: auto
			padding: 0
			top: 0
			background: none
			position: static
			margin-top: 20px
		.social__link
			font-size: 1.5em
	.scroll-item__image-wrap_bundle-order-2
		right: 0
	.scroll-item__left-column_layout-5
		width: 65%
	.scroll-item__image-wrap_bundle-order-1
		width: 40%
		left: 20%
		+phones
			left: 0
	.scroll-item__image-wrap_bundle-order-3
		width: 60%
	.breadcrumbs
		top: 0
	.scroll-item__image-wrap
		background-size: auto 125% !important

.product
	&__logo
		width: 150px
		margin-bottom: 40px
		img
			width: 100%
		+phones
			padding-top: 50px
			margin: 0 auto 30px auto
	&__cols
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__image
		width: 65%
		margin-bottom: 20px
		img
			width: 100%
		+phones
			width: 100%
			margin-bottom: 20px
	&__details
		position: fixed
		right: 100px
		width: 22%
		+widescreen
			width: 25%
		+phones
			width: 100%
			position: relative
			right: auto
			margin-bottom: 20px
	&__title
		text-transform: uppercase
	&__price
		font-size: .9em
	&__designer
		margin-bottom: 20px
		font-size: .9em
	&__year
		margin-top: 20px
		font-size: .9em
	&__text
		font-size: .9em
