.request-more
	text-decoration: none
	color: #000
	letter-spacing: 1px
	font-size: .9em
	display: inline-block
	margin: 1em 0 1em 0
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		border-bottom: 1px solid rgba(0,0,0,.3)
		bottom: 0
		left: 0
	&:after
		content: ''
		position: absolute
		width: 0
		border-bottom: 1px solid #000
		bottom: 0
		opacity: .6
		left: 0
		+transition(.5s)
	&:hover
		&:after
			width: 100%
	&_product
		font-size: 1.1em
