.request-more
	text-transform: uppercase
	text-decoration: none
	color: #000
	letter-spacing: 1px
	font-size: .7em
	padding: 1em
	border: 1px solid #000
	display: inline-block
	margin: 1em 0 1em 0
	+transition(.5s)
	&:hover
		opacity: .6