.scroll-item__slider
	cursor: pointer
	height: 80vh
	+phones-portrait
		height: 40vh
	&-item
		height: 100%
	&-image
		height: 100%
		background-size: contain
		background-position: center
		background-repeat: no-repeat
		-webkit-filter: grayscale(100%)
		filter: grayscale(100%)
		+transition(.5s)
		+phones-portrait
			background-size: 100% !important
		&:hover
			filter: grayscale(0)
	&.active .scroll-item__slider-image
		filter: grayscale(0)
	&.refreshed
		.scroll-item__slider-image
			background-position: center center
			background-size: contain
		+phones-portrait
			.owl-prev
				top: 40%
				left: 5px
				font-size: 2em
			.owl-next
				top: 40%
				right: 25px
				font-size: 2em
	&:hover
		.owl-nav
			> div
				opacity: 1
		.owl-prev
			transform: translateX(0px)
			-webkit-transform: translateX(0px)
			-moz-transform: translateX(0px)
			-ms-transform: translateX(0px)
		.owl-next
			transform: translateX(20px)
			-webkit-transform: translateX(20px)
			-moz-transform: translateX(20px)
			-ms-transform: translateX(20px)

	.owl-stage-outer, .owl-stage, .owl-item
		height: 100%
	.owl-prev
		top: 50%
		left: -15px
	.owl-next
		top: 50%
		right: 0
	.owl-nav
		> div
			+transition(.5s)
			opacity: 0
			display: inline-block
			transform: translateX(10px)
			-webkit-transform: translateX(10px)
			-moz-transform: translateX(10px)
			-ms-transform: translateX(10px)
			position: absolute
