.scroll-items-wrapper
	height: 90%

.scroll-item:first-child
	padding: 0
	.scroll-item__columns-wrap_flex
		align-items: flex-start
	.scroll-item__right-column
		display: flex
		align-items: center
		min-height: 90vh
		+phones-portrait
			min-height: 0
	.scroll-item__left-column
		+phones-portrait
			min-height: 0