.scroll-item
	padding: 0 0 100px 0
	+phones-portrait
		margin-bottom: 0
	&_slide-out
		position: fixed
		right: 0
		top: 0
		bottom: 0
		z-index: 2
		box-sizing: border-box
		background: #fff
		&_in-content
			width: calc(100% - 350px)
			padding-right: 100px
			transform: translateX(150%)
			transition: all .5s ease-in-out
		&_full
			transition: all 1s ease-in-out
			transform: translateY(-150%)
			width: 100%
		+tablet-landskape
			width: 100%
			padding: 0 1em 1em 1em
			height: 100%
		+phones-portrait
			padding-top: 3em
		&_active
			transform: translateX(0)
	&__heading-wrap
		text-align: center
		overflow: hidden
	&__subheading
		text-transform: uppercase
		letter-spacing: 1px
	&__heading
		display: inline-block
		position: relative
		font-weight: lighter
		text-transform: uppercase
		font-size: .9em
		opacity: .5
		margin-top: 0
		&_hidden
			visibility: hidden
		&:before
			content: ''
			margin-left: -15px
			display: block
			position: absolute
			z-index: -1
			background-color: #000
			height: 1px
			top: 8px
			width: 4000%
			transform: translateX(-100%)
		&:after
			content: ''
			margin-right: -15px
			display: block
			position: absolute
			z-index: -1
			background-color: #000
			height: 1px
			top: 8px
			right: 0
			width: 4000%
			transform: translateX(100%)
	&__columns-wrap
		min-height: 100vh
		&_flex
			display: flex
			justify-content: space-between
			align-items: center
			+transition(.52s)
			+phones-portrait
				min-height: 0
				flex-direction: row
				flex-wrap: wrap
	&__left-column
		+transition(.52s)
		width: 40%
		position: relative
		min-height: 90vh
		+phones-portrait
			min-height: auto
			order: 2 !important
		&_layout-1
		&_layout-2
			order: 2
			width: 70%
		&_layout-3
			display: none
		&_layout-4, &_layout-5
			width: 70%
		&_layout-7
			order: 0
			width: 65%
		&_layout-8
			width: 65%
		+phones-portrait
			width: 100% !important
			flex-shrink: 0
	&__right-column
		+transition(.52s)
		width: 50%
		&_layout-1
			text-align: right
		&_layout-2
			order: 1
			text-align: left
		&_layout-3
			padding: 20%
			width: 100%
			text-align: center
		&_layout-4
			width: 25%
			text-align: right
		&_layout-5
			text-align: center
		&_layout-7
			order: 1
			text-align: center
			width: 30%
		&_layout-8
			text-align: center
			width: 30%
		+phones-portrait
			width: 100% !important
			flex-shrink: 0
			padding: 0
	&__full-column
		width: 100%
		min-height: 100vh
		&_layout-10
			text-align: center
			padding-top: 60px
			+phones-portrait
				padding-top: 0
		p
			margin-bottom: 2%
		&_layout-6
			padding-top: 50px
			display: flex
			justify-content: space-between
			align-items: center
		&_layout-5
			text-align: center
		&_layout-4
			+phones-portrait
				height: 45vh
				min-height: auto
		+phones-portrait
			flex-wrap: wrap
		&_layout-contacts
			align-items: center
			background:
				image: url(../img/Request-More-Info.jpg)
				position: center
				size: contain
				repeat: no-repeat
			+phones-portrait
				background: none
			text-align: right
			h2, p
				margin-right: 8%
			p
				box-sizing: border-box
				padding-left: 60%
			h2
				margin-top: 20%
			+phones-portrait
				h2, p
					margin-right: 0
					text-align: center
				p
					padding: 0 1em 2em 1em

	&__text
		font-weight: lighter
	&__text-bundle
		text-align: center
		p
			font-weight: lighter
		&_layout-6
			width: 30%
		+phones-portrait
			width: 100% !important
		&_layout-13
			width: 35%
			+phones-portrait
				width: 100%
	&__image-bundle
		height: 100vh
		display: flex
		+phones-portrait
			width: 100% !important
		&_layout-4
			align-items: flex-end
			.scroll-item__image-wrap
				height: 90%
				width: 100%
			+phones-portrait
				align-items: flex-start
		&_layout-5
			justify-content: space-between
			align-items: center
			.scroll-item__image-wrap:first-child
				width: 37%
				height: 90%
			.scroll-item__image-wrap:last-child
				width: 60%
				height: 70%
				&:after
					text-align: right
			+phones-portrait
				flex-wrap: wrap
				.scroll-item__image-wrap
					height: 40% !important
					width: 100% !important
		&_layout-6
			width: 30%
			+phones-portrait
				height: 45vh
				order: 1
				width: 100% !important

		&_layout-10
			justify-content: space-between
			align-items: center
			+tablet-landskape
				margin-top: 150px
			+phones-portrait
				flex-wrap: wrap
				margin-top: 0
			.scroll-item__image-wrap
				height: 400px
				+phones-portrait
					width: 100% !important
					height: 200px !important
			.scroll-item__image-wrap:nth-child(1)
				width: 45%
			.scroll-item__image-wrap:nth-child(2)
				height: 600px
			.scroll-item__image-wrap:nth-child(2),
			.scroll-item__image-wrap:nth-child(3)
				width: 22%
		&_layout-12, &_layout-13
			height: 62vh
			.scroll-item__image-wrap
				height: 62vh
				background-size: auto 130% !important
				+phones-portrait
					background: none !important
			+phones-portrait
				height: auto !important
		&_layout-11
			+phones-portrait
				height: 40vh
		&_layout-14
			justify-content: space-between
			align-items: center
			.scroll-item__image-wrap
				position: relative
			.scroll-item__image-wrap:first-child
				width: 37%
				height: 90%
			.scroll-item__image-wrap:last-child
				width: 60%
				height: 70%
				&:after
					text-align: right
			+phones-portrait
				flex-wrap: wrap
				.scroll-item__image-wrap
					height: 40% !important
					width: 100% !important
		.scroll-item__image-wrap
			&_vertical-parallax-1
				background-size: auto 115%
				background-position: center top
				+transition(.1s)
				+phones-portrait
					background-size: 100%
			&_vertical-parallax-2
				// +transition(.2s)
				// transform: translateY(0)
			&_vertical-parallax-3
				+transition(.2s)
				margin-top: 100px
	&__image-wrap
		background-size: auto 115% !important
		background-position: 50% 100%
		background-repeat: no-repeat
		position: relative
		cursor: pointer
		// z-index: 1
		height: 90vh
		width: 100%
		filter: grayscale(100%)
		+phones-portrait
			height: auto !important
			background-size: 100% !important
			img
				width: 100%
				display: block !important
		&:hover
			filter: grayscale(0)
		&.tapped
			opacity: .7
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				color: #fff
				text-transform: uppercase
				text-align: center
				transform: translateY(-50%) translateX(-50%)
		&.clicked
			opacity: .7
			&:before
				content: 'click to enlarge'
				font-weight: lighter
				position: absolute
				top: 50%
				left: 50%
				color: #fff
				text-transform: uppercase
				text-align: center
				transform: translateY(-50%) translateX(-50%)
		+phones-portrait
			background-position: center
			transform: none !important
			transition: none !important
			margin-bottom: 10px
		&_transition
			+transition(1.2s)
		&_vertical-parallax-1
			background-size: auto 115%
			background-position: center top
			+phones-portrait
				background-size: 100%
			+transition(.1s)
		&_vertical-parallax-2
			+transition(.2s)
			transform: translateY(0)
		&_vertical-parallax-3
			+transition(.2s)
			margin-top: 100px
		&_fullscreen

		&_shortened
			width: 90%
		&_gallery-trigger
			&:after
				content: '\f06e'
				position: absolute
				font-family: 'FontAwesome'
				cursor: pointer
				font-size: 1.5em
				bottom: 5px
				left: 10px
				text-shadow: 0 0 10px #fff
			&.tapped
				opacity: .7
				&:before
					content: 'Tap to open Slideshow'
					position: absolute
					top: 50%
					left: 50%
					color: #fff
					text-transform: uppercase
					text-align: center
					transform: translateY(-50%) translateX(-50%)
					-webkit-transform: translateY(-50%) translateX(-50%)
					-moz-transform: translateY(-50%) translateX(-50%)

		&_moved
			transform: translateY(10%) translateX(10%)
		&_moved-left
			transform: translateX(-15%)
		&_bundle
			position: absolute
			// overflow: hidden
		&_bundle-order-1
			width: 35%
			height: 35vh
			top: 15%
			left: 17%
		&_bundle-order-2
			right: 50px
			width: 35%
			height: 90vh
			+tablet-landskape
				width: 30%
		&_bundle-order-3
			bottom: 0
			left: 0
			width: 51%
			height: 40vh
		+phones-portrait
			transform: none !important
			transition: none !important
			width: 100% !important
			position: relative !important
			top: 0
			left: 0
			right: 0
			bottom: 0
	&:target:before
		content: ''
		display: block
		height: 50px
		margin: -50px 0 0

	&__logo-section
		max-width: 200px
		margin: 1.17em auto
		display: inline-block
		text-decoration: none

	&__logo-image
		width: 100%
		-webkit-filter: grayscale(100%)
		filter: grayscale(100%)
		+transition(.4s)
		&:hover
			-webkit-filter: grayscale(0)
			filter: grayscale(0)
	&__full-column_layout-14
		.scroll-item__paragraph
			width: 60%
			float: right
			margin-top: -10%
.scroll-item__text-bundle
	display: flex
	> div
		text-align: left
		box-sizing: border-box
		padding: 0 1em 1em 1em
	+phones-portrait
		display: block
	&_layout-6
		flex-direction: column
		> div
			padding: 0

.scroll-item__form
	width: 30%
	padding-right: 8%
	position: relative
	box-sizing: border-box
	&_right
		margin-left: 70%
	+phones-portrait
		width: 90% !important
		margin: 1em !important
		textarea
			display: none
		&_right
			margin: 0 auto
		padding-right: 0
	button[type='submit']
		color: #000
		letter-spacing: 1px
		font-size: .9em
		display: inline-block
		margin: 1em 0 1em 0
		border: none
		background: none
		padding: 2px 0
		font-size: 1.1em
		position: relative
		&:before
			content: ''
			position: absolute
			width: 100%
			border-bottom: 1px solid rgba(0,0,0,.3)
			bottom: 0
			left: 0
		&:after
			content: ''
			position: absolute
			width: 0
			border-bottom: 1px solid #000
			bottom: 0
			opacity: .6
			left: 0
			+transition(.5s)
		&:hover
			&:after
				width: 100%
	.invalid
		text-align: left
		font-size: .8em
		color: red
		text-indent: 5px
		display: none

.invalid-form
	.invalid
		display: block

.submit-wrap
	text-align: left
	padding-left: 5px
	box-sizing: border-box

.scroll-item__group
	display: block
	position: relative
	margin-bottom: 20px
	input
		border: none
		border-bottom: 1px
		background: none
		width: 100%
		display: inline-block
		box-sizing: border-box
		padding: 2px
		&:focus
			outline: none
		&.not-valid
			border-bottom: 1px solid red
	textarea
		border: none
		display: inline-block
		box-sizing: border-box
		padding: 2px
		width: 100%
		background: none
		resize: none
		&:focus
			outline: none
	.scroll-item__text
		position: absolute
		left: 5px
		pointer-events: none
		+transition(.4s)
		color: gray
		&.scroll-item__text_hidden
			font-size: 15px
			transform: translateX(-120%)
			+phones-portrait
				transform: translateY(-22px)
	&:before
		content: ''
		display: block
		position: absolute
		bottom: 0
		border-bottom: 1px solid #000
		width: 0
		height: 1px
		+transition(.4s)
	&_active
		&:before
			content: ''
			display: block
			position: absolute
			bottom: 0
			border-bottom: 1px solid gray
			width: 100%
			height: 1px

.select-item
	display: inline-block
	select
		border: none
		box-shadow: none
		background-color: transparent
		background-image: none
		appearance: none
		-webkit-appearance: none
		-moz-appearance: none
		&:focus
			outline: none
	&:after
		content: '\f107'
		font-family: 'FontAwesome'


.scroll-item__paragraph
	a
		text-decoration: none
		color: #000
		letter-spacing: 1px
		font-size: .9em
		display: inline-block
		margin: 1em 0 1em 0
		position: relative
		&:before
			content: ''
			position: absolute
			width: 100%
			border-bottom: 1px solid rgba(0,0,0,.3)
			bottom: 0
			left: 0
		&:after
			content: ''
			position: absolute
			width: 0
			border-bottom: 1px solid #000
			bottom: 0
			opacity: .6
			left: 0
			+transition(.5s)
		&:hover
			&:after
				width: 100%

.message-sent__heading
	display: none

.message-sent
	form, p, h2
		display: none !important

	.message-sent__heading
		display: block !important
		font-size: 1em
		float: right
		width: 500px
		+phones-portrait
			width: 100%
			margin-top: 50%
			float: none

.next-step
	position: absolute
	font-size: 1.2em
	top: -7px
	right: 0
	z-index: 10
	opacity: 0
	display: none
	transform: translateX(120%)
	transition: all .5s ease-in-out
	&_active
		opacity: 1
		transform: translateX(0)
	+phones
		display: block

.background-center
	background-position: center !important

.reset-filter
	-webkit-filter: none !important
	filter: none !important
	z-index: 10

.scroll-item#showroom .scroll-item__image-wrap
	background-position: 30% 100%

.m-close
	display: inline-block
	padding: 5px
	font-size: 1.2em
	right: 10px
	cursor: pointer
	top: 10px
	position: absolute
	+phones-portrait
		top: auto
		right: auto
		position: relative

.no-pseudo
	&:before
		opacity: 0

.color
	filter: grayscale(0)
	+phones
		filter: grayscale(100%)

#about
	.scroll-item__image-wrap
		pointer-events: none
		height: 80vh
