.social
	opacity: 0
	+transition(.5s)
	&__list
		margin: 0
		padding: 0 0 10px 40px
		position: absolute
		bottom: 0
		width: 200px
		left: 0
		background: #D9D9D4
		+phones
			text-align: center
			margin-top: 0
			margin-bottom: 10px
	&__item
		list-style: none
		display: inline-block
		position: relative
	&__link
		text-decoration: none
		font-family: 'FontAwesome'
		font-size: 1.2em
		margin-right: .5em
		color: rgba(0,0,0,.25)
		+transition(.2s)
		&_facebook:before
			content: '\f230'
		&_twitter:before
			content: '\f099'
		&_pinterest:before
			content: '\f0d2'
		&_instagram:before
			content: '\f16d'
		&_google:before
			content: '\f0d5'
		&_email:before
			content: '\f003'
		&_link:before
			content: '\f0c1'
		&:hover
			opacity: .6
	+tablet-landskape
		&__list
			position: relative
			margin-top: 30px
			padding: 0 0 0 10px
		&__link
			font-size: 1.5em
	&.active
		opacity: 1
	&.fixed
		.social__list
			padding: 0
			margin: 0
			background: none
			position: fixed
			width: 50px
			right: 10px
			font-size: 1.4em
			top: 50%
			left: auto
			bottom: auto
			transform: translateY(-50%)
			+phones
				font-size: 1em
	&_default
		opacity: 1
		.social__list
			background: none
