doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    // build:css css/vendor.min.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/main.min.css
    link(rel='stylesheet', href='css/bundle.min.css')
    // endbuild
    script(src='vendor/modernizr-2.8.3.min.js')
  body
    <!--[if lt IE 11]>
    .browserupgrade
      p
        strong YOUR BROWSER IS FROM ANOTHER ERA
      p
        | he's witnessed asteroid that wiped out dinosaurs
        br
        | he's so ancient that he can barely render your page
      p
        | Please,
        a(href='http://browsehappy.com/') update it
    <![endif]-->
    .page-wrapper.page-wrapper_flex
        aside.left-pane.left-pane_flex
            .logo
                a.logo__link(href="/")
                    img.logo__image(src="img/logo.png", alt="logo")
            .nav-menu
                .nav-menu__toggle
                a.nav-menu__telephone(href="#")
                nav.nav-menu__container
                    ul.nav-menu__list
                        li.nav-menu__item
                            .nav-menu__progress
                                .nav-menu__progress-bar
                            a.nav-menu__link.nav-menu__link_default(href="#about") about
                        li.nav-menu__item
                            .nav-menu__progress
                                .nav-menu__progress-bar
                            a.nav-menu__link.nav-menu__link_default(href="#manufacturers") manufacturers
                            ul.submenu.submenu__list.submenu_hidden
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#senator_group') senator group
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#allermuir").thirdmenu__link allermuir
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#senator").thirdmenu__link senator
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#ofs') ofs brands
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#ofs_item").thirdmenu__link OFS
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#first_office").thirdmenu__link First Office
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#highmark").thirdmenu__link Highmark
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#loewenstein").thirdmenu__link Loewenstein
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#carolina").thirdmenu__link Carolina
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#izzy') izzy+
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#fixtures").thirdmenu__link fixtures
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#hag").thirdmenu__link hag
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#harter").thirdmenu__link harter
                                    li.thirdmenu__item
                                        .thirdmenu__progress
                                            .thirdmenu__progress-bar
                                        a(href="#izzy_item").thirdmenu__link izzy
                                    li.thirdmenu__item
                                li.submenu__item
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#kristalia') kristalia
                                li.submenu__item
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#peter_pepper') peter pepper
                        li.nav-menu__item
                            .nav-menu__progress
                                .nav-menu__progress-bar
                            a.nav-menu__link.nav-menu__link_default(href="#quickship") quickship
            .social
                ul.social__list
                    li.social__item
                        a.social__link.social__link_facebook(href="#")
                    li.social__item
                        a.social__link.social__link_twitter(href="#")
                    li.social__item
                        a.social__link.social__link_pinterest(href="#")
        .main-content
            .fixed-heading-wrap
                h1.fixed-heading
            .scroll-items-wrapper
                article.scroll-item#about
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading about
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="1")
                            .owl-carousel.intro-slider(data-preview="img/preview.jpg").intro-slider_fullscreen
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/Izzy+_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/Izzy+_NOTEXT.png", alt="")
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/Kristalia_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/Kristalia_NoText.png", alt="")
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/OFSBrands_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/OFSBrands_NOtext.png", alt="")
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/PeterPepper_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/PeterPepper_NoText.png", alt="")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="1")
                            .scroll-item__wrap-text
                                h3.scroll-item__subheading MAVEN
                                p.scroll-item__paragraph MAVEN is a design-focused, Independent Manufacturer’s Representative Group located in San Francisco. MAVEN represents a small, curated group of innovative furniture manufacturers from around the world. Our products can be found extensively throughout our community and our reach extends into all types of environments from small start up’s to global technology companies, law firms, healthcare environments, airports and restaurants.
                article.scroll-item#who
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading who
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .tab-slider
                            .tab-slider__images-list
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Sarah-Reyes.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_1
                                        a(href="mailto:sarah@mavenwest.com") sarah@mavenwest.com
                                        a(href="tel:#") 415-621-3232
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Carlos-Rodriguez.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_2
                                        a(href="mailto:carlos@mavenwest.com") carlos@mavenwest.com
                                        a(href="tel:#") 805-407-4068
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Dave-Casto.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_3
                                        a(href="mailto:dave@mavenwest.com") dave@mavenwest.com
                                        a(href="tel:#") 415-225-3430
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Stacey-Herman.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_4
                                        a(href="mailto:stacey@mavenwest.com") stacey@mavenwest.com
                                        a(href="tel:#") 415-940-8035
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Janel-Levadoux.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_5
                                        a(href="mailto:janel@mavenwest.com") janel@mavenwest.com
                                        a(href="tel:#") 650-293-1861
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Esther-Hahn.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_6
                                        a(href="mailto:esther@mavenwest.com") esther@mavenwest.com
                                        a(href="tel:#") 916-591-4348
                            .tab-slider__select-list
                                .tab-slider__select-item
                                    h3 Sarah Reyes
                                    p Showroom Manager
                                    a(href="mailto:sarah@mavenwest.com") sarah@mavenwest.com
                                    a(href="tel:#") 415-621-3232
                                .tab-slider__select-item
                                    h3 Carlos Rodriguez
                                    p San Francisco A&amp;D/East and North Bay Dealers
                                    a(href="mailto:carlos@mavenwest.com") carlos@mavenwest.com
                                    a(href="tel:#") 805-407-4068
                                .tab-slider__select-item
                                    h3 Dave Casto
                                    p San Francisco A&amp;D
                                    a(href="mailto:dave@mavenwest.com") dave@mavenwest.com
                                    a(href="tel:#") 415-225-3430
                                .tab-slider__select-item
                                    h3 Stacey Herman
                                    p Principal &amp; San Francisco Dealers
                                    a(href="mailto:stacey@mavenwest.com") stacey@mavenwest.com
                                    a(href="tel:#") 415-940-8035
                                .tab-slider__select-item
                                    h3 Janel Levadoux
                                    p South Bay - Monterey Bay
                                    a(href="mailto:janel@mavenwest.com") janel@mavenwest.com
                                    a(href="tel:#") 650-293-1861
                                .tab-slider__select-item
                                    h3 Esther Hahn
                                    p Sacremento, Fresno, Reno
                                    a(href="mailto:esther@mavenwest.com") esther@mavenwest.com
                                    a(href="tel:#") 916-591-4348
                article.scroll-item#showroom
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading showroom
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="2")
                            .scroll-item__image-wrap(data-animation="shortened", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/maven-showroom.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="2")
                            //- h3.scroll-item__subheading Our Address
                            p.scroll-item__paragraph 923 Harrison St <br/>San Francisco CA 94107<br/>415-621-3232 <br/><a href="mailto:info@mavenwest.com">info@mavenwest.com</a>
                article.scroll-item#manufacturers
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading manufacturers
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="4")
                            .scroll-item__image-bundle(data-layout="4")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress", data-title="Manufacturers", data-text=" Lorem ipsum.")
                                    img.scroll-item__image(src="img/manufacturers/manufacturersMainImage.jpg", alt="Manufacturers")
                article.scroll-item#senator_group
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading senator group
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="5")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-1(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/manufacturers/SenatorsGroup/senatorGroupRectangleUpperLeft.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-2(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/manufacturers/SenatorsGroup/senatorGroupTall.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-3(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/manufacturers/SenatorsGroup/senatorGroupSquareLower.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="5")
                            //- h3.scroll-item__subheading senator group
                            a(href="http://www.thesenatorgroup.com/americas/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/SenatorsGroup/SenatorGroup.jpg" alt="The Senators group")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#allermuir
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading allermuir
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__slider(data-title="allermuir", data-text="Lorem ipsum dolor sit amet.").owl-carousel.scroll-item__slider_natural
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/SenatorGroup/Allermuir/Cardita_Hero-copy.jpg", alt="Allermuir")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/SenatorGroup/Allermuir/Conic.jpg", alt="Allermuir")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/SenatorGroup/Allermuir/Famiglia.jpg", alt="Allermuir")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/SenatorGroup/Allermuir/Mote4.jpg", alt="Allermuir")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/SenatorGroup/Allermuir/Open.jpg", alt="Allermuir")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            //- h3.scroll-item__subheading Allermuir
                            a(href="http://www.thesenatorgroup.com/americas/allermuir/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/SenatorsGroup/Allermuir.png" alt="Allermuir")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#senator
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading senator
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="1")
                            .scroll-item__slider(data-title="Senator", data-text="Lorem ipsum dolor sit amet.").owl-carousel
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/manufacturers/SenatorsGroup/Senator_1.jpg", alt="SenatorsGroup")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/manufacturers/SenatorsGroup/Senator_2.jpg", alt="SenatorsGroup")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/manufacturers/SenatorsGroup/Senator_3.jpg", alt="SenatorsGroup")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="1")
                            a(href="http://www.thesenatorgroup.com/americas/senator/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/SenatorsGroup/Senator.png" alt="Senator")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#ofs
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading ofs brands
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            a(href="http://ofsbrands.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/OFSBrands/OFSBrands.jpg" alt="OFS Brands")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="12")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/OFSBrands/OFS-Brands.jpg", alt="image")
                article.scroll-item#ofs_item
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading ofs
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            a(href="http://ofs.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/OFSBrands/ofsRollover.png" alt="OFS Brands")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="10")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress", data-title="OFS", data-text="premium task chair designed by Justus Kolberg to empower user individuality. After looking at the way we work, this intelligent seating solution has been developed to respond to a new range of postures")
                                    img.scroll-item__image(src="img/final/OFSBrands/OFS/OFS-2.jpg", alt="OFS")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/OFSBrands/OFS/OFS-3.jpg", alt="OFS")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/OFSBrands/OFS/OFS.jpg", alt="OFS")
                article.scroll-item#first_office
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading first office
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="8")
                            .scroll-item__slider(data-title="first office", data-text="Lorem ipsum dolor sit amet.").owl-carousel
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/OFSBrands/FirstOffice/First-Office.jpg", alt="first office")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/OFSBrands/FirstOffice/First-Office-2.jpg", alt="first office")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            a(href="http://firstoffice.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/OFSBrands/FirstOffice.png" alt="First Office")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#highmark
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading highmark
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="5")
                            a(href="http://highmarkergo.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/highmark.png" alt="Highmark")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="5")
                                .scroll-item__image-wrap
                                    img.scroll-item__image(src="img/final/OFSBrands/Highmark/Highmark-2.jpg", alt="image")
                                .scroll-item__image-wrap
                                    img.scroll-item__image(src="img/final/OFSBrands/Highmark/Highmark.jpg", alt="image")
                article.scroll-item#loewenstein
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading loewenstein
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="6")
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/OFSBrands/Loewenstein/Loewenstein.jpg", alt="image")
                            .scroll-item__text-bundle(data-layout="6")
                                a(href="http://loewensteininc.com/", target="_blank").scroll-item__logo-section
                                    img.scroll-item__logo-image(src="img/manufacturers/OFSBrands/Lowenstein.png" alt="Loewenstein")
                                p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                                a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/OFSBrands/Loewenstein/Loewenstein-2.jpg", alt="Loewenstein")
                article.scroll-item#carolina
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading carolina
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/final/OFSBrands/Carolina/Carolina.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            a(href="http://carolinabusinessfurniture.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/OFSBrands/carolina.png" alt="Carolina")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#izzy
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading Izzy
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading Izzy
                            a(href="http://www.izzyplus.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Izzy/izzyplus.jpg" alt="Izzy+")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="11")
                                .scroll-item__slider(data-title="Senator", data-text="Lorem ipsum dolor sit amet.").owl-carousel
                                    .scroll-item__slider-item
                                        .scroll-item__slider-image
                                            img(src="img/manufacturers/Izzy/izzyplus_trellis_forum.jpg", alt="Izzy")
                                    .scroll-item__slider-item
                                        .scroll-item__slider-image
                                            img(src="img/manufacturers/Izzy/izzyplus_nemo_bartrellis_corp.jpg", alt="Izzy")
                article.scroll-item#fixtures
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading fixtures
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            a(href="http://ofsbrands.com/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Izzy/fixturesfurniture.jpg" alt="Fixtures furniture")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="10")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress", data-title="Furniture Dewey", data-text="premium task chair designed by Justus Kolberg to empower user individuality. After looking at the way we work, this intelligent seating solution has been developed to respond to a new range of postures")
                                    img.scroll-item__image(src="img/final/Fixtures/dewey_table_bookshlf.jpg", alt="Furniture Dewey")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/Fixtures/Webster.jpg", alt="Webster")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/Fixtures/Bola-for-children.jpg", alt="Bola for children")
                article.scroll-item#hag
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading hag
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="5")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-1(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/final/HAG/capiscopuls_yellowthermos_off.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-2(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/final/HAG/Capisco.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-3(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/final/HAG/h05_task-off-polbase.jpg", alt="hag")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="5")
                            //- h3.scroll-item__subheading hag
                            a(href="http://www.izzyplus.com/hag.aspx", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Izzy/hag.jpg" alt="Hag")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#harter
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading harter
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__slider(data-title="Harter", data-text="Lorem ipsum dolor sit amet.").owl-carousel
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Harter/Forum.jpg", alt="Harter Forum")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Harter/Meet.jpg", alt="Harter Meet")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Harter/Truman.jpg", alt="Harter Truman")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            a(href="http://www.izzyplus.com/izzy.aspx", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Izzy/harter.jpg" alt="Izzy")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#izzy_item
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading izzy
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="8")
                            .scroll-item__slider(data-title="Izzy", data-text="Lorem ipsum dolor sit amet.").owl-carousel
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Izzy/audrey.jpg", alt="Izzy")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Izzy/dotti.jpg", alt="Izzy")
                                .scroll-item__slider-item
                                    .scroll-item__slider-image
                                        img(src="img/final/Izzy/sylvi.jpg", alt="Izzy")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            a(href="http://www.izzyplus.com/izzy.aspx", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Izzy/izzyplus.jpg" alt="Izzy")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                article.scroll-item#kristalia
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading kristalia
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            a(href="http://www.kristalia.it/", target="_blank").scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/manufacturers/Kristalia/kristalia.jpg" alt="kristalia")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="10")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress", data-title="kristalia", data-text="premium task chair designed by Justus Kolberg to empower user individuality. After looking at the way we work, this intelligent seating solution has been developed to respond to a new range of postures")
                                    img.scroll-item__image(src="img/final/Kristalia/colander.jpg", alt="colander")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/Kristalia/Elephant.jpg", alt="Elephant")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/Kristalia/Joko.jpg", alt="Joko")
                article.scroll-item#peter_pepper
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading peter pepper
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="6")
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/PeterPepper/Collaboration-Environment-copy.jpg", alt="peter pepper")
                            .scroll-item__text-bundle(data-layout="6")
                                a(href="http://www.peterpepper.com/", target="_blank").scroll-item__logo-section
                                    img.scroll-item__logo-image(src="img/manufacturers/PeterPepper/peter_pepper.png" alt="Peter Pepper")
                                p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                                a(href="#").request-more Request more info
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/final/PeterPepper/PPP.jpg", alt="peter pepper")
                article.scroll-item#quickship
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading quickship
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            .scroll-item__image-bundle(data-layout="12")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/quickships.png", alt="image")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rem esse nostrum tenetur enim voluptates?
                            .brand-grid
                                div.brand-grid__item
                                    a(href="http://www.thesenatorgroup.com/americas/resource-library/allermuir-xpress-brochure/")
                                        img(src="img/logos/The-Senator-Group.jpg", alt="")
                                div.brand-grid__item
                                    a(href="http://izzyplus.com/")
                                        img(src="img/logos/Izzy-plus.jpg", alt="")
                                div.brand-grid__item
                                    a(href="http://ofsbrands.com/products/quickship")
                                        img(src="img/logos/OFS-Brands.jpg", alt="")
                                div.brand-grid__item
                                    a(href="http://highmarkergo.com/")
                                        img(src="img/logos/Highmark.jpg", alt="")
                                div.brand-grid__item
                                    a(href="http://www.peterpepper.com/")
                                        img(src="img/logos/Peter-Pepper-Products.jpg", alt="")
                            //- .scroll-item__text-bundle(data-layout="12")
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading Senator Group
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading OFS Brands
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading Peter Pepper
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime
                article.scroll-item#contacts
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading contact us
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="contacts")
                            h2.scroll-item__subheading Thank you for your interest
                            p.scroll-item__paragraph if you wish contact us please fill out the form below and<br/>our representatives will git in touch you soon
                            form.scroll-item__form.scroll-item__form_right
                                input(type="text", placeholder="Your Name")
                                input(type="text", placeholder="Email")
                                input(type="text", placeholder="Phone Number")
                                textarea(type="text", placeholder="Message")
                                input(type="submit", value="submit")
                .loader.loader_hidden
                    i.fa.fa-cog.fa-spin
        .page-overlay.closable
        .pin-button
        .dynamic-caption
            h2 Main title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ab?
            a(href="#").request-more Request more info
        .gallery-modal.modal
        .contact-modal.modal.closable
            .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="contacts")
                    .m-close
                    h2.scroll-item__subheading Thank you for your interest
                    p.scroll-item__paragraph if you wish contact us please fill out the form below and<br/>our representatives will git in touch you soon
                    form.scroll-item__form.scroll-item__form_right
                        input(type="text", placeholder="Your Name")
                        input(type="text", placeholder="Email")
                        input(type="text", placeholder="Phone Number")
                        textarea(type="text", placeholder="Message")
                        input(type="submit", value="submit")
        .fullpage-image
        .debug
            .debug__layouts
                p.debug__title Layouts:
                label.debug__item 1
                    input.debug__radio(checked, type="radio", name="layout", value="1")
                label.debug__item 2
                    input.debug__radio(type="radio", name="layout", value="2")
                label.debug__item 3
                    input.debug__radio(type="radio", name="layout", value="3")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\\/script>')
    script(async='', defer='', data-pin-hover='false', data-pin-round='true', data-pin-save='false', src='//assets.pinterest.com/js/pinit.js')
    // build:js js/vendor.min.js
    // bower:js
    // endbower
    // endbuild
    // build:js js/main.min.js
    script(src='js/plugins.js')
    script(src='js/main.js')
    // endbuild
