doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    // build:css css/vendor.min.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/main.min.css
    link(rel='stylesheet', href='css/bundle.min.css')
    // endbuild
    script(src='vendor/modernizr-2.8.3.min.js')
  body
    <!--[if lt IE 11]>
    .browserupgrade
      p
        strong YOUR BROWSER IS FROM ANOTHER ERA
      p
        | he's witnessed asteroid that wiped out dinosaurs
        br
        | he's so ancient that he can barely render your page
      p
        | Please,
        a(href='http://browsehappy.com/') update it
    <![endif]-->
    .page-wrapper.page-wrapper_flex
        aside.left-pane.left-pane_flex
            .logo
                a.logo__link(href="/")
                    img.logo__image(src="img/logo.png", alt="logo")
            .nav-menu
                .nav-menu__toggle
                a.nav-menu__telephone(href="#")
                nav.nav-menu__container
                    ul.nav-menu__list
                        li.nav-menu__item
                            .nav-menu__progress
                                .nav-menu__progress-bar
                            a.nav-menu__link.nav-menu__link_default(href="#about") about
                        li.nav-menu__item
                            .nav-menu__progress
                                .nav-menu__progress-bar
                            a.nav-menu__link.nav-menu__link_default(href="#manufacturers") manufacturers
                            ul.submenu.submenu__list.submenu_hidden
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#senator_group') senator group
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        a(href="#allermuir").thirdmenu__link allermuir
                                    li.thirdmenu__item
                                        a(href="#senator").thirdmenu__link senator
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#ofs') ofs brands
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        a(href="#ofs_item").thirdmenu__link OFS
                                    li.thirdmenu__item
                                        a(href="#first_office").thirdmenu__link First Office
                                    li.thirdmenu__item
                                        a(href="#highmark").thirdmenu__link Highmark
                                    li.thirdmenu__item
                                        a(href="#loewenstein").thirdmenu__link Loewenstein
                                    li.thirdmenu__item
                                        a(href="#carolina").thirdmenu__link Carolina
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#izzy') izzy+
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        a(href="#fixtures").thirdmenu__link fixtures
                                    li.thirdmenu__item
                                        a(href="#hag").thirdmenu__link hag
                                    li.thirdmenu__item
                                        a(href="#harter").thirdmenu__link harter
                                    li.thirdmenu__item
                                        a(href="#izzy_item").thirdmenu__link izzy
                                    li.thirdmenu__item
                                li.submenu__item
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#kristalia') kristalia
                                li.submenu__item
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#peter_pepper') peter pepper
                                li.submenu__item
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#quickship') quickship
                                li.submenu__item.submenu__item_continue
                                  .submenu__progress
                                      .submenu__progress-bar
                                  a.submenu__link.submenu__link_default(href='#contacts') contacts
                                  ul.thirdmenu.thirdmenu__list.thirdmenu_hidden
                                    li.thirdmenu__item
                                        a(href="#showroom").thirdmenu__link showroom
                                    li.thirdmenu__item
                                        a(href="#team").thirdmenu__link team
            .social
                ul.social__list
                    li.social__item
                        a.social__link.social__link_facebook(href="#")
                    li.social__item
                        a.social__link.social__link_twitter(href="#")
                    li.social__item
                        a.social__link.social__link_pinterest(href="#")
        .main-content
            .fixed-heading-wrap
                h1.fixed-heading
            .scroll-items-wrapper
                article.scroll-item#about
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading about
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="1")
                            .owl-carousel.intro-slider.intro-slider_fullscreen
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/Allemuir_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/Allemuir_NoText.png", alt="")
                                .intro-slider__item
                                    .intro-slider__image
                                        img(src="img/Izzy+_MAVEN.png", alt="")
                                    .intro-slider__sub-image
                                        img(src="img/Izzy+_NOTEXT.png", alt="")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="1")
                            .scroll-item__wrap-text
                                h3.scroll-item__subheading About MAVEN
                                p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#manufacturers
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading manufacturers
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="4")
                            .scroll-item__image-bundle(data-layout="4")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#senator_group
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading senator group
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="5")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-1(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-2(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-3(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="5")
                            //- h3.scroll-item__subheading senator group
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/SenatorsGroup/SenatorGroup.jpg" alt="The Senators group")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#allermuir
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading allermuir
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__image-wrap.scroll-item__image-wrap_shortened.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            //- h3.scroll-item__subheading Allermuir
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/SenatorsGroup/Allermuir.png" alt="Allermuir")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#senator
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading senator
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="1")
                            .scroll-item__image-wrap.scroll-item__image-wrap_shortened.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="vertical-parallax-2", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="1")
                            //- h3.scroll-item__subheading senator
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/SenatorsGroup/Senator.png" alt="Senator")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#ofs
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading ofs brands
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading ofs brands
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/OFSBrands/OFSBrands.jpg" alt="OFS Brands")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            .scroll-item__image-bundle(data-layout="10")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#ofs_item
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading ofs
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="2")
                            .scroll-item__image-wrap.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="shortened", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="2")
                            //- h3.scroll-item__subheading ofs
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/OFSBrands/ofsRollover.png" alt="OFS Brands")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#first_office
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading first office
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="1")
                            .scroll-item__image-wrap.scroll-item__image-wrap_shortened.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="vertical-parallax-2", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="1")
                            //- h3.scroll-item__subheading first office
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/OFSBrands/FirstOffice.png" alt="First Office")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#highmark
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading highmark
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__full-column_flex(data-layout="6")
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__text-bundle(data-layout="6")
                                //- h3.scroll-item__subheading highmark
                                .scroll-item__logo-section
                                    img.scroll-item__logo-image(src="img/logos/OFSBrands/Highmark.jpg" alt="Highmark")
                                p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            .scroll-item__image-bundle(data-layout="6")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#loewenstein
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading loewenstein
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="2")
                            .scroll-item__image-wrap.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="shortened", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="2")
                            //- h3.scroll-item__subheading loewenstein
                            .scroll-item__logo-section
                                    img.scroll-item__logo-image(src="img/logos/OFSBrands/Lowenstein.png" alt="Lowenstein")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#carolina
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading carolina
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading carolina
                            .scroll-item__logo-section
                                    img.scroll-item__logo-image(src="img/logos/OFSBrands/Carolina.gif" alt="Carolina")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            .scroll-item__image-bundle(data-layout="11")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#izzy
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading Izzy
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading Izzy
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Izzy/izzyplus.jpg" alt="Izzy+")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam.
                            .scroll-item__image-bundle(data-layout="11")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#fixtures
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading layout fixtures
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__image-wrap.scroll-item__image-wrap_gallery-trigger(data-slideshow="img/home.jpg img/home.jpg img/home.jpg img/home.jpg", data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            //- h3.scroll-item__subheading fixtures
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Izzy/fixturesfurniture.jpg" alt="Fixtures furniture")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#hag
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading hag
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="5")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-1(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-2(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-3(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="5")
                            //- h3.scroll-item__subheading hag
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Izzy/hag.jpg" alt="Hag")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#harter
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading harter
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading harter
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Izzy/harter.jpg" alt="Harter")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            .scroll-item__image-bundle(data-layout="10")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#izzy_item
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading Izzy
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            //- h3.scroll-item__subheading Izzy
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Izzy/izzyplus.jpg" alt="Izzy+")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                            .scroll-item__image-bundle(data-layout="11")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                article.scroll-item#kristalia
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading kristalia
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="5")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-1(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-2(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__image-wrap.scroll-item__image-wrap_bundle.scroll-item__image-wrap_bundle-order-3(data-animation="moved", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="5")
                            //- h3.scroll-item__subheading kristalia
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/Kristalia/kristalia.jpg" alt="Kristalia")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#peter_pepper
                    .scroll-item__heading-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                        h2.scroll-item__heading peter pepper
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="7")
                            .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="7")
                            //- h3.scroll-item__subheading peter pepper
                            .scroll-item__logo-section
                                img.scroll-item__logo-image(src="img/logos/PeterPepper/peter_pepper.png" alt="Peter Pepper")
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#quickship
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading quickship
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="10")
                            .scroll-item__image-bundle(data-layout="12")
                                .scroll-item__image-wrap(data-animation="vertical-parallax-1", data-animation-type="onProgress")
                                    img.scroll-item__image(src="img/home.jpg", alt="image")
                            .scroll-item__text-bundle(data-layout="12")
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading Main title
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading Main title
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                                .scroll__item-text-bundle-item
                                    h3.scroll-item__subheading Main title
                                    p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#contacts
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading contacts
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="3")
                            h3.scroll-item__subheading Contacts
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#showroom
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading showroom
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="2")
                            .scroll-item__image-wrap(data-animation="shortened", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/home.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="2")
                            h3.scroll-item__subheading Main title
                            p.scroll-item__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ratione officiis consectetur fuga autem sit in exercitationem velit non eveniet nesciunt sunt eaque quas at ipsam quam, hic ullam maxime pariatur veniam. Nihil mollitia voluptatem dignissimos voluptatibus nesciunt beatae accusantium.
                article.scroll-item#team
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading our team
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .tab-slider
                            .tab-slider__images-list
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Sarah-Reyes.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_1
                                        a(href="#") sarah@mail.com
                                        a(href="tel:#") 415-123-6903
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Carlos-Rodriguez.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_2
                                        a(href="#") carlos@mail.com
                                        a(href="tel:#") 415-123-6903
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Dave-Casto.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_3
                                        a(href="#") dave@mail.com
                                        a(href="tel:#") 415-123-6903
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Stacey-Herman.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_4
                                        a(href="#") stacey@mail.com
                                        a(href="tel:#") 415-123-6903
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Janel-Levadoux.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_5
                                        a(href="#") janel@mail.com
                                        a(href="tel:#") 415-123-6903
                                .tab-slider__image-item
                                    .tab-slider__image
                                        img.scroll-item__image(src="img/Esther-Hahn.jpg", alt="image")
                                    .tab-slider__caption.tab-slider__caption_6
                                        a(href="#") esther@mail.com
                                        a(href="tel:#") 415-123-6903
                            .tab-slider__select-list
                                .tab-slider__select-item
                                    h3 Sarah Reyes
                                    p Showroom Manager
                                .tab-slider__select-item
                                    h3 Carlos Rodriguez
                                    p San Francisco A&amp;D/East and North Bay Dealers
                                .tab-slider__select-item
                                    h3 Dave Casto
                                    p San Francisco A&amp;D
                                .tab-slider__select-item
                                    h3 Stacey Herman
                                    p Principal &amp; San Francisco Dealers
                                .tab-slider__select-item
                                    h3 Janel Levadoux
                                    p South Bay - Monterey Bay
                                .tab-slider__select-item
                                    h3 Esther Hahn
                                    p Sacremento, Fresno, Reno

                .loader.loader_hidden
                    i.fa.fa-cog.fa-spin
        .page-overlay
        .gallery-modal.modal
        .contact-modal.modal
            .contact-modal__corner-border-top
            h2.contact-modal__heading Thank you<br/>for your interest!
            form(action="")
                input(type="text", name="", placeholder="Your Name").input-group__name
                input(type="text", name="", placeholder="Email").input-group__email
                input(type="tel", name="", placeholder="Phone Number").input-group__tel
                input(type="submit", value="submit").input-group__submit
            p.contact-modal__text Send us email<br/>or<br/>Call us
            a(href="tel:777777").contact-modal__tel 123-456-789
            .contact-modal__corner-border-bottom
        .fullpage-image
        .debug
            .debug__layouts
                p.debug__title Layouts:
                label.debug__item 1
                    input.debug__radio(checked, type="radio", name="layout", value="1")
                label.debug__item 2
                    input.debug__radio(type="radio", name="layout", value="2")
                label.debug__item 3
                    input.debug__radio(type="radio", name="layout", value="3")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\\/script>')
    // build:js js/vendor.min.js
    // bower:js
    // endbower
    // endbuild
    // build:js js/main.min.js
    script(src='js/plugins.js')
    script(src='js/main.js')
    // endbuild
