doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    // build:css css/vendor.min.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/main.min.css
    link(rel='stylesheet', href='css/bundle.min.css')
    // endbuild
    script(src='vendor/modernizr-2.8.3.min.js')
  body
    <!--[if lt IE 11]>
    .browserupgrade
      p
        strong YOUR BROWSER IS FROM ANOTHER ERA
      p
        | he's witnessed asteroid that wiped out dinosaurs
        br
        | he's so ancient that he can barely render your page
      p
        | Please,
        a(href='http://browsehappy.com/') update it
    <![endif]-->
    .page-wrapper.page-wrapper_flex.has-product3
        aside.left-pane.left-pane_flex
            .logo
                a.logo__link(href="/")
                    img.logo__image(src="img/logo.png", alt="logo")
            a.nav-menu__link.nav-menu__link_default.slide-out-menu(data-anchor="contact").slide-out-menu_in-menu contact
            a.nav-menu__link.nav-menu__link_default.slide-out-menu(data-anchor="contact").slide-out-menu_in-menu about
            a.nav-menu__link.nav-menu__link_default.slide-out-menu(data-anchor="contact").slide-out-menu_in-menu manufacturers
            a.nav-menu__link.nav-menu__link_default ercol
            .nav-menu
                .nav-menu__toggle
                 a.nav-menu__telephone(href="#", data-anchor="contact")
            .social
                ul.social__list
                    li.social__item
                        a.social__link.social__link_facebook(href="#")
                    li.social__item
                        a.social__link.social__link_twitter(href="#")
                    li.social__item
                        a.social__link.social__link_pinterest(href="#")
                    li.social__item
                        a.social__link.social__link_instagram(href="#")
        .main-content
            .fixed-heading-wrap
                h1.fixed-heading
            .scroll-items-wrapper
                article.product-wrapper
                    .breadcrumbs
                        ul.breadcrumbs__list
                            li.breadcrumbs__item
                                a(data-anchor="ercol-products").slide-out-menu.breadcrumbs__link.breadcrumbs__link ercol products
                            li.breadcrumbs__item
                                a.breadcrumbs__link_active product1
                    .product
                        .product__logo
                            img(src="img/Brands/Ercol/ercol-logo.png", alt="")
                        .product__cols
                            .product__image
                                    .scroll-item__image-wrap
                                        img.scroll-item__image(src="img/Brands/Ercol/ercol-382-plank-table-half-black-and-401-butterfly-chair-half-black-copy.jpg", alt="")
                            .product__details
                                .product__title Title
                                .product__price Price: 10 000
                                .product__year Year: 2016
                                .product__designer Designer: John Doe
                                .product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere doloribus laudantium consequatur id. Laudantium ab necessitatibus iure pariatur dicta, expedita velit tempora natus odio facere nisi ipsum qui dignissimos ratione ut voluptatum numquam error minus voluptas exercitationem. Sapiente, ducimus cupiditate?
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                                div
                                    a(href="#").request-more.slide-out-menu(data-anchor="request") Request more info
                            .product__image
                                    .scroll-item__image-wrap
                                        img.scroll-item__image(src="img/final/Harter/Forum.jpg", alt="")
                            .product__image
                                    .scroll-item__image-wrap
                                        img.scroll-item__image(src="img/final/Harter/Meet.jpg", alt="")
                    .social.social_product
                        ul.social__list
                            li.social__item
                                a.social__link.social__link_facebook(href="#")
                            li.social__item
                                a.social__link.social__link_twitter(href="#")
                            li.social__item
                                a.social__link.social__link_google(href="#")
                            li.social__item
                                a.social__link.social__link_email(href="mailto:someone@yoursite.com?cc=someoneelse@theirsite.com, another@thatsite.com, me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News&body=Body-goes-here")
                            li.social__item
                                a.social__link.social__link_link(href="#")
                                .clipboard-hint Copied!
                    .follow
                        .follow__confirmation Thank you for submitting your request
                        form.follow__form
                            .follow__title Follow this product
                            .follow__type
                                label
                                    input(type="radio", name="type", value="email", checked)
                                    span.follow__label Email
                                label |
                                    input(type="radio", name="type", value="notifications")
                                    span.follow__label Notifications
                            .follow__input
                                label Price alert
                                    input(type="checkbox", name="pricel-alert")
                                label Special offer
                                    input(type="checkbox", name="special-offer")
                                input(type="text", name="address")
                            button(type="submit").follow__button Submit
                .recent-articles
                    .recent-articles__heading
                        .scroll-item__heading-wrap
                            h2.scroll-item__heading recent articles
                    .products__grid
                        .products__items
                            a.products__item.slide-out-menu(data-anchor="ercol-product1", href="#")
                                span.products__item-image
                                    img(src="img/home.jpg", alt="")
                                span.products__item-caption
                                    span Caption
                            a.products__item(href="#")
                                span.products__item-image
                                    img(src="img/home.jpg", alt="")
                                span.products__item-caption
                                    span Caption
                            a.products__item(href="#")
                                span.products__item-image
                                    img(src="img/home.jpg", alt="")
                                span.products__item-caption
                                    span Caption
                            a.products__item(href="#")
                                span.products__item-image
                                    img(src="img/home.jpg", alt="")
                                span.products__item-caption
                                    span Caption
                .author
                    .author__heading
                        .scroll-item__heading-wrap
                            h2.scroll-item__heading author
                    .author__cols
                        .author__text-col
                            .author__name Mila
                                span  Slavko
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quisquam soluta pariatur, neque officia quis sint adipisci repellendus cum tempore.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cum magni consectetur autem inventore ab cumque nihil, enim soluta dolorum alias asperiores beatae ratione hic quibusdam esse expedita iusto ullam.
                            .social.social_default
                                ul.social__list
                                    li.social__item
                                        a.social__link.social__link_facebook(href="#")
                                    li.social__item
                                        a.social__link.social__link_twitter(href="#")
                                    li.social__item
                                        a.social__link.social__link_google(href="#")
                                    li.social__item
                                        a.social__link.social__link_email(href="mailto:someone@yoursite.com?cc=someoneelse@theirsite.com, another@thatsite.com, me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News&body=Body-goes-here")
                                    li.social__item
                                        a.social__link.social__link_link(href="#")
                                        .clipboard-hint Copied!
                        .author__image-col
                            img(src="img/mila.jpg", alt="")
                article#contact.scroll-item_slide-out.scroll-item_slide-out_in-content
                    .scroll-item__heading-wrap
                        h2.scroll-item__heading contact
                    .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                        .m-close
                            .fa.fa-close
                        .scroll-item__left-column.scroll-item__left-column_flex(data-layout="2")
                            .scroll-item__image-wrap(data-animation="shortened", data-animation-type="onEnter")
                                img.scroll-item__image(src="img/maven-showroom.jpg", alt="image")
                        .scroll-item__right-column.scroll-item__text.scroll-item__right-column_flex(data-layout="2")
                            p.scroll-item__paragraph <a href="https://www.google.com/maps/place/Maven+West/@37.7785726,-122.4108534,15z/data=!4m8!1m2!2m1!1smaven!3m4!1s0x0:0x1f0804cc06640905!8m2!3d37.7785336!4d-122.4021631" target="_blank">923 Harrison St <br/>San Francisco CA 94107</a><br/><a href="tel:4156213232">415-621-3232</a> <br/><a href="mailto:info@mavenwest.com">info@mavenwest.com</a>
        .page-overlay.closable
        .pin-button
        .dynamic-caption
            h2 Main title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, ab?
            //- a(href="#").request-more.slide-out-menu(data-anchor="request")  Request more info
        .gallery-modal.modal
        #request.scroll-item_slide-out.scroll-item_slide-out_in-content.scroll-item_form
            .scroll-item__columns-wrap.scroll-item__columns-wrap_flex
                .scroll-item__full-column.scroll-item__text.scroll-item__full-column_flex(data-layout="contacts")
                    .m-close
                        .fa.fa-close
                    h2.scroll-item__subheading.scroll-item__subheading_form Thank you for your interest
                    h2.scroll-item__subheading.message-sent__heading Thank you for submitting your request, our representative will contact you shortly
                    form(action='#', name='request').scroll-item__form.scroll-item__form_right
                        .next-step
                            .fa.fa-arrow-right
                        label.scroll-item__group
                            .scroll-item__text Name
                            input(type="text", required, name="name")
                        label.scroll-item__group
                            .scroll-item__text Email
                            input(type="text", required, name="email")
                        label.scroll-item__group
                            .scroll-item__text Phone
                            input(type="text", required, name="phone")
                        label.scroll-item__group
                            .scroll-item__text Message
                            textarea(type="text", row="1", name="message")
                        label.scroll-item__group
                            .scroll-item__text Method of contact
                            .select-item
                                select(name="")
                                    option(value="phone") Phone
                                    option(value="email") Email
                        .submit-wrap
                            button(type="submit") Submit
                        .invalid Please fill out the required fields
        .fullpage-image
        .loading-screen
            i.fa.fa-circle-o-notch.fa-spin
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="vendor/jquery-1.11.2.min.js"><\\/script>')
    script(async='', defer='', data-pin-hover=false, data-pin-round='true', data-pin-save='false', src='//assets.pinterest.com/js/pinit.js')
    // build:js js/vendor.min.js
    // bower:js
    // endbower
    // endbuild
    script(src='js/main.min.js')
